body {
  font-family: Arial, sans-serif;
  background-color: #5ca6ff;
  color: #333;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background-color: #4CAF50;
  color: white;
  padding: 30px 0;
}

section {
  margin: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
 
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

footer {
  background-color: #333;
  color: white;
  padding: 10px 0;
  margin-top: 20px;
}



