        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            height: fit-content;
        }

        .container {
            width: 80%;
            margin: auto;
            overflow: hidden;
        }

        .header {
            background: #2f3031;
            padding-top: 30px;
            min-height: 70px;
            border-bottom: #e8491d 3px solid;
        }

        .header h1 {
            text-align: center;
            text-transform: uppercase;
            margin: 0;
            color: white;
        }

        .header h2 {
            text-align: center;
            margin-top: 10px;
            font-weight: normal;
            color: white;
        }

        .about-me,
        .skills,
        .projects,
        .contact {
            background: #ffffff;
            padding: 20px;
            margin-top: 20px;
        }

        h3 {
            border-bottom: #e8491d 2px solid;
            padding-bottom: 10px;
        }

        ul {
            list-style-type: square;
            padding-left: 20px;
        }
        p {
            line-height: 1.6;
        }

        .contact p {
            font-size: 1.1em;
        }
        footer {
            text-align: center;
            padding: 10px;
            background: #2f3031;
            color: white;
            margin-top: 20px;
        }